<div class="flex flex-col flex-grow m-0 p-0 justify-between">
  <div
    class="flex flex-col space-y-2 p-4 overflow-y-scroll max-h-[calc(100vh-20vh)]"
  >
    <div class="bg-blue-500 rounded-lg shadow-lg p-3 text-white">Hi</div>
    <div class="bg-gray-600 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-blue-500 rounded-lg shadow-lg p-3 text-white whitespace-normal w-3/4">
      <div class="whitespace-normal">
        Helloajkshdkjhsdkjsshdfjkshdfjksdh fjksdfhgjkdfghjkgfhkjfghjksfghsjHelloajkshdkjhsdkjsshdfjkshdfjksdhfjks dfhgjkdfghjkgfhkjfghjksfghsj

      </div>
    </div>
    <div class="bg-gray-600 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-blue-500 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-gray-600 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-blue-500 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-gray-600 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-blue-500 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-gray-600 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-blue-500 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-gray-600 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-blue-500 rounded-lg shadow-lg p-3 text-white">Hello</div>
    <div class="bg-gray-600 rounded-lg shadow-lg p-3 text-white">Hello</div>
  </div>
  <div class="mb-10 mt-auto px-4 flex items-center">
    <input
      type="text"
      placeholder="Enter message..."
      class="font-semibold w-full bg-transparent outline-none text-gray-400 placeholder-gray-500 cursor-text p-2"
    />
  </div>
</div>
