<div id="sub-menu" class="fixed flex left-16 w-64 h-screen m-0 bg-gray-800 shadow-lg hidden">
  <div class="flex items-center justify-center h-16 m-0 p-0">
    <h5
      id="sub-menu-title"
      class="text-lg tracking-wider font-bold text-gray-400 mr-auto ml-4 my-auto align-middle"
    >
      Inspect/Settings
    </h5>
  </div>
  <div class="flex flex-col items-center justify-start p-1 m-0">
    <div class="m-0 w-full px-2 pb-2 transition duration-300 ease-in-out">
    </div>
  </div>
</div>
