<!-- Header Logo, Title, Short Description -->
<div class="flex justify-stretch mb-0 pb-3 border-gray-500 border-b-2">
  <div class="p-0 ml-1 flex basis-1/4">
    <img
      class="w-12 ml-1"
      src="https://www.barclays.co.uk/content/dam/icons/favicons/barclays/Eagle_RGB_Cyan_Large.svg"
      alt="Image"
    />
    <img
      class="w-7/12 ml-2"
      src="https://www.barclays.co.uk/content/dam/icons/favicons/barclays/Wordmark_RGB_Cyan_Large.svg"
      alt="Image"
    />
  </div>
  <div class="basis-1/2 text-center text-5xl italic">Alt-Era</div>
  <div class="basis-1/4 text-right m-0 p-0 mr-1">
    <p>
      BUK Chatbot <br />
      Toolset
    </p>
  </div>
</div>
